# Pokemon Recommendation

### Introduction
The purpose of this notebook is to create a simple a system that will recommend a user a particular Pokemon based on what they have previously selected. 
My reasoning behind this is that I wanted to see what Types of Pokemon will me be a like to other based on their attributes.
In reality the reason why certain people like certain Pokemon maybe completely unrealted to how "Speed" or "Defense" it has but nevertheless it was something interestimg for me to investigate.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Pokemon_Updated.csv')

In [3]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [36]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total'],
      dtype='object')

In [19]:
Pivot_Pokemon = df.pivot_table(columns='Name',values=['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation'])

In [20]:
Pivot_Pokemon.head()

Name,Abomasnow,AbomasnowMega Abomasnow,Abra,Absol,AbsolMega Absol,Accelgor,AegislashBlade Forme,AegislashShield Forme,Aerodactyl,AerodactylMega Aerodactyl,...,Zangoose,Zapdos,Zebstrika,Zekrom,Zigzagoon,Zoroark,Zorua,Zubat,Zweilous,Zygarde50% Forme
Attack,92,132,20,130,150,70,150,50,105,135,...,115,90,100,150,30,105,65,45,85,100
Defense,75,105,15,60,60,40,50,150,65,85,...,60,85,63,120,41,60,40,35,70,121
Generation,4,4,1,3,3,5,6,6,1,1,...,3,1,5,5,3,5,5,1,5,6
HP,90,90,25,65,65,80,60,60,80,80,...,73,90,75,100,38,60,40,40,72,108
Sp. Atk,92,132,105,75,115,100,150,50,60,70,...,60,125,80,120,30,120,80,30,65,81

### Specific Pokemon
Here I have selected a specific Pokemon as I want to see what recommendations will be selected.

In [21]:
Abra_Corr = Pivot_Pokemon['Abra']

In [25]:
# Now we are using the pviot table data frame method corrwith.
Similar_Abra = Pivot_Pokemon.corrwith(Abra_Corr)

In [31]:
Similar_Abra = pd.DataFrame(Similar_Abra, columns=['Correlation']).sort_values('Correlation',ascending =False)

Here I have displayed Pokemon that are simialr to the Pokemon Abra. This was a very simple recomendation.

In [32]:
Similar_Abra.head()

                       Correlation
Name
Abra                      1.000000
Kadabra                   0.993272
AlakazamMega Alakazam     0.977420
Alakazam                  0.972037
Gastly                    0.952547

### Pokemon Type 
Next I will be correlating the Pokemon by their Type category. The category I have chose is the Rock. The aim is to see what other Pokemon type will be recommended next based upon the intial selection

In [72]:
df1 = df.groupby(['Type 1'])['HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed'].mean()

C:\Users\dwell\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [73]:
Pivot_PType = df1.pivot_table(columns=['Type 1'],values=['HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed'])
Pivot_PType

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Attack,70.971014,88.387097,112.12500,69.090909,61.529412,96.777778,84.769231,78.75,73.78125,73.214286,95.75000,72.750000,73.469388,74.678571,71.456140,92.863636,92.703704,74.151786
Defense,70.724638,70.225806,86.37500,66.295455,65.705882,65.925926,67.769231,66.25,81.18750,70.800000,84.84375,71.416667,59.846939,68.821429,67.684211,100.795455,126.370370,72.946429
HP,56.884058,66.806452,83.31250,59.795455,74.117647,69.851852,69.903846,70.75,64.43750,67.271429,73.78125,72.000000,77.275510,67.250000,70.631579,65.363636,65.222222,72.062500
Sp. Atk,53.869565,74.645161,96.84375,90.022727,78.529412,53.111111,88.980769,94.25,79.34375,77.500000,56.46875,77.541667,55.816327,60.428571,98.403509,63.340909,67.518519,74.812500
Sp. Def,64.797101,69.516129,88.84375,73.704545,84.705882,64.703704,72.211538,72.50,76.46875,70.428571,62.75000,76.291667,63.724490,64.392857,86.280702,75.477273,80.629630,70.517857
Speed,61.681159,76.161290,83.03125,84.500000,48.588235,66.074074,74.442308,102.50,64.34375,61.928571,63.90625,63.458333,71.551020,63.571429,81.491228,55.909091,55.259259,65.964286

In [74]:
Rock = Pivot_PType['Rock']
Rock

Attack      92.863636
Defense    100.795455
HP          65.363636
Sp. Atk     63.340909
Sp. Def     75.477273
Speed       55.909091
Name: Rock, dtype: float64

In [75]:
Similar_Rock = Pivot_PType.corrwith(Rock)
Similar_Rock

Type 1
Bug         0.850469
Dark        0.258387
Dragon      0.415245
Electric   -0.529313
Fairy       0.016314
Fighting    0.499982
Fire       -0.160090
Flying     -0.696275
Ghost       0.615268
Grass       0.363276
Ground      0.802762
Ice         0.222812
Normal     -0.168213
Poison      0.737633
Psychic    -0.592233
Rock        1.000000
Steel       0.957192
Water       0.507990
dtype: float64

In [76]:
Similar_Rock = pd.DataFrame(Similar_Rock,columns=['Correlation']).sort_values('Correlation',ascending = False)

Here we can see that Steel Pokemon are the most correlated with Rock type Pokemon, however we will need to investigate the sample size of these Pokemon type and any further possibilites are to why these two types of Pokemon are correlated

In [77]:
Similar_Rock.head()

        Correlation
Type 1
Rock       1.000000
Steel      0.957192
Bug        0.850469
Ground     0.802762
Poison     0.737633

In [78]:
df['Type 1'].value_counts()
# Here we are see that there are more rock type of Pokemon than their are steel type

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64